* {
  box-sizing: border-box;
}

@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
:root {
  --primary-color: #9356DC; /* --primary-color */
  --secondary-color: #FF79DA; /* --secondary-color */
  --tertiary-color: #99E2D0; /* --tertiary-color */
}

.header-page {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  width: 100%;
}

.header__logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  height: 35px;
  margin: 24px 40px 15px 0;
}

.fa-arrow-left {
  font-weight: 900;
  line-height: 80px;
  color: black;
  margin-left: 23px;
  margin-top: 14px;
  font-size: 20px;
}

.logo-box {
  display: flex;
  justify-content: center;
  background: #FFFFFF;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 2;
}

main img {
  height: 275px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.command {
  height: 50px;
  width: 218px;
  background: linear-gradient(1deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-bottom: #9356DC;
  border-top: #FF79DA;
  border-left: transparent;
  border-right: transparent;
  border-radius: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: white;
  cursor: pointer;
  transition-duration: 2s;
  margin: 25px 95px 40px 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0 40px 0;
}
.command h2 {
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
}

.command:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
  filter: brightness(110%);
}

.confirmation {
  background-color: #99E2D0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}

.menu-card:hover .confirmation {
  margin-right: -1rem;
}

.check-circle {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display: flex;
  border-radius: 100px;
  flex-direction: row-reverse;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.fa-check {
  color: #99E2D0;
}

a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
}

.i_p1 {
  display: flex;
  gap: 11px;
}

.i_p2 {
  display: flex;
  gap: 11px;
}

/* VERSION SMARTPHONE */
body {
  max-width: 767px;
  margin: 0;
  font-family: "Roboto";
}

article {
  border-radius: 40px 40px 0 0;
  margin-top: -55px;
  z-index: 2;
  background: #F6F6F6;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-header {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-between;
  width: 96%;
}

.heart-like {
  display: flex;
}

.heart-like .like-hover {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  height: -moz-fit-content;
  height: fit-content;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform: scale(0.5);
  transition: transform 400ms;
  transform-origin: center center;
  font-size: 31px;
  position: relative;
  left: -34px;
}

i.far.fa-heart.like {
  font-size: 30px;
}

.menu-header .heart-like .like-hover:hover {
  transform: scale(1.1);
  opacity: 1;
  position: relative;
  left: -31px;
}

.menu-header.heart-like .like-hover:active {
  opacity: 1;
}

.menu-header .heart-like .far.fa-heart:hover {
  display: none;
}

h1 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
  color: black;
  margin-top: 32px;
  margin-left: 13px;
}

.header {
  padding: 1rem 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;
}

.header__logo {
  font-family: "Shrikhand", "cursive";
  margin: 0;
  text-align: center;
}

.menus {
  display: grid;
  width: 100%;
}

.menu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}

h3 {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: normal;
}

h3::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menu-card {
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-5 {
  animation-delay: 0.5s;
}

.delay-6 {
  animation-delay: 0.6s;
}

.delay-7 {
  animation-delay: 0.7s;
}

.delay-8 {
  animation-delay: 0.8s;
}

.delay-9 {
  animation-delay: 0.9s;
}

.menu-head {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}

.menu-title {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu-description {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .logo {
  margin: 22px auto 16px 25px;
  filter: invert(100%);
  height: 19px;
}
footer p {
  color: white;
  margin-bottom: 9px;
  margin-top: 0;
}
footer i {
  color: white;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  margin-left: 25px;
  margin-bottom: 33px;
  margin-top: 22px;
}

/* VERSION DESKTOP */
@media all and (min-width: 992px) {
  body {
    margin: 0;
    font-family: "Roboto";
    max-width: none;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main img {
    height: 450px;
    width: 100%;
    position: relative;
    z-index: 1;
    -o-object-fit: cover;
       object-fit: cover;
  }
  article {
    border-radius: 40px 40px 0 0;
    margin-top: -55px;
    z-index: 2;
    background: #F6F6F6;
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu-header {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 50px;
  }
  i.far.fa-heart.like {
    margin-left: -35px;
    font-size: 30px;
    height: 2px;
  }
  .menu-header .heart-like .like-hover:hover {
    transform: scale(1.1);
    opacity: 1;
  }
  .menu-header .heart-like .far.fa-heart:hover {
    display: none;
  }
  h1 {
    font-family: "Shrikhand";
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    color: black;
    margin-top: 32px;
    margin-left: 13px;
    margin-right: 17px;
  }
  .header {
    padding: 1rem 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1000;
  }
  .header__logo {
    font-family: "Shrikhand", "cursive";
    margin: 0;
    text-align: center;
  }
  .menus {
    display: grid;
    justify-items: center;
    width: 100%;
  }
  .menu {
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
    width: 70%;
  }
  h3 {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: normal;
  }
  h3::after {
    content: "";
    width: 3rem;
    height: 0.25rem;
    background-color: #99E2D0;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .menu-card {
    background-color: white;
    padding: 1rem;
    display: flex;
    border-radius: 0.75rem;
    margin: 1rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    animation: itemAppear 0.6s;
    animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
    animation-fill-mode: both;
    transform: scale(0);
    max-width: 100%;
  }
  .menu-head {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
  }
  .menu-title {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .menu-description {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .delay-0 {
    animation-delay: 0s;
  }
  .delay-1 {
    animation-delay: 0.1s;
  }
  .delay-2 {
    animation-delay: 0.2s;
  }
  .delay-3 {
    animation-delay: 0.3s;
  }
  .delay-4 {
    animation-delay: 0.4s;
  }
  .delay-5 {
    animation-delay: 0.5s;
  }
  .delay-6 {
    animation-delay: 0.6s;
  }
  .delay-7 {
    animation-delay: 0.7s;
  }
  .delay-8 {
    animation-delay: 0.8s;
  }
  .delay-9 {
    animation-delay: 0.9s;
  }
  .price {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
  }
  footer {
    background-color: #353535;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    width: 100%;
    height: 114px;
  }
  footer .logo {
    margin: 49px 80px 38px 71px;
    filter: invert(100%);
    height: 27px;
  }
  footer p {
    color: white;
    margin-bottom: 9px;
    margin-top: 0;
  }
  footer i {
    color: white;
  }
  .footer {
    display: flex;
    margin-left: 25px;
    margin-bottom: 33px;
    margin-top: 22px;
    gap: 40px;
    white-space: nowrap;
    justify-content: space-between;
    flex-direction: row;
  }
}
/* VERSION TABLETTE */
@media all and (min-width: 768px) and (max-width: 991px) {
  body {
    margin: 0;
    font-family: "Roboto";
    max-width: 991px;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main img {
    height: 450px;
    width: 100%;
    position: relative;
    z-index: 1;
    -o-object-fit: cover;
       object-fit: cover;
  }
  article {
    border-radius: 40px 40px 0 0;
    margin-top: -55px;
    z-index: 2;
    background: #F6F6F6;
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu-header {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 50px;
  }
  i.far.fa-heart.like {
    margin-left: -35px;
    font-size: 30px;
  }
  .menu-header .heart-like .like-hover:hover {
    transform: scale(1.1);
    opacity: 1;
  }
  .menu-header.heart-like .like-hover:active {
    opacity: 1;
  }
  .menu-header .heart-like .far.fa-heart:hover {
    display: none;
  }
  h1 {
    font-family: "Shrikhand";
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    color: black;
    margin-top: 32px;
    margin-left: 13px;
    margin-right: 17px;
  }
  .header {
    padding: 1rem 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1000;
  }
  .header__logo {
    font-family: "Shrikhand", "cursive";
    margin: 0;
    text-align: center;
  }
  .menus {
    display: grid;
    justify-items: center;
    width: 100%;
  }
  .menu {
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
    width: 70%;
  }
  h3 {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    font-weight: normal;
  }
  h3::after {
    content: "";
    width: 3rem;
    height: 0.25rem;
    background-color: #99E2D0;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .menu-card {
    background-color: white;
    padding: 1rem;
    display: flex;
    border-radius: 0.75rem;
    margin: 1rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    animation: itemAppear 0.6s;
    animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
    animation-fill-mode: both;
    transform: scale(0);
    max-width: 100%;
  }
  .delay-0 {
    animation-delay: 0s;
  }
  .delay-1 {
    animation-delay: 0.1s;
  }
  .delay-2 {
    animation-delay: 0.2s;
  }
  .delay-3 {
    animation-delay: 0.3s;
  }
  .delay-4 {
    animation-delay: 0.4s;
  }
  .delay-5 {
    animation-delay: 0.5s;
  }
  .delay-6 {
    animation-delay: 0.6s;
  }
  .delay-7 {
    animation-delay: 0.7s;
  }
  .delay-8 {
    animation-delay: 0.8s;
  }
  .delay-9 {
    animation-delay: 0.9s;
  }
  .menu-head {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
  }
  .menu-title {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .menu-description {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .price {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
  }
  footer {
    background-color: #353535;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  footer .logo {
    margin: 22px auto 16px 25px;
    filter: invert(100%);
    height: 25px;
  }
  footer p {
    color: white;
    margin-bottom: 9px;
    margin-top: 0;
  }
  footer i {
    color: white;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin-left: 25px;
    margin-bottom: 33px;
    margin-top: 22px;
  }
}/*# sourceMappingURL=menu.css.map */